:root {
	--color1 : #35465b;
	--color2 : #ffa32a;
	--color3 : #232323;
	--white : #FFFFFF;
	--police : 'Play', sans-serif;
}

body {
	background-color: var(--color1);
	color: var(--white);
	font-family: var(--police);
	font-size: 0.8em;
}

footer {
	background-color: var(--color3);
	text-align: center;
	padding: 3em;
	color: var(--color1);
}

h1 {
	color: #ffa32a;
	border-bottom: 2px dashed var(--color3);
	text-align: center;
	font-size: 3em;
	padding: 1em;
	font-weight: bold;
}

.category {
	padding: 1em;
	border-bottom: 2px dashed var(--color3);
}

.category-title {
	color: var(--color3);
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.drink {
	margin-bottom: 0.8em;
}

.drink-mainRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.drink-mainRow-left {
	display: flex;
	align-items: center;
	max-width: 50%;
}

.drink-mainRow-right {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.drink-name {
	text-transform: uppercase;
}

.drink-starscounter {
	background : none;
	border: none;
}

.drink-alcool {
	color: var(--color2);
}

.drink-description {
	color: var(--color3);
	margin-left: 1em;
}

.drink-description-maker {
	font-style: italic;
}
