:root {
	--color1 : #35465b;
	--color2 : #ffa32a;
	--color3 : #232323;
	--white : #FFFFFF;
	--police : 'Play', sans-serif;
}

.hidden {
	display: none;
}

/* ---------------PAGE--------------- */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	background-color: var(--color1);
	color: var(--white);
	font-family: var(--police);
	font-size: 0.8em;
}

main {
	min-height: 70vh;
}

footer {
	background-color: var(--color3);
	text-align: center;
	padding: 3em;
	color: var(--color1);
}

h1 {
	color: #ffa32a;
	border-bottom: 2px dashed var(--color3);
	text-align: center;
	font-size: 3em;
	padding: 1em;
	font-weight: bold;
}

.main-section {
	padding: 1em;
	border-bottom: 2px dashed var(--color3);
}

.title {
	color: var(--color3);
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

/* ---------------DRINK--------------- */

.drink {
	margin-bottom: 0.8em;
}

.drink-mainRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.drink-mainRow-left {
	display: flex;
	align-items: center;
	/* max-width: 40%; */
}

.drink-mainRow-right {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.drink-name {
	text-transform: uppercase;
}

.drink-starscounter {
	color: var(--color3);
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0.5em;
}

.drink-alcool {
	color: var(--color2);
}

.drink-description {
	color: var(--color3);
	margin-left: 1em;
}

.drink-description-maker {
	font-style: italic;
}

.drink-container-infos {
	font-size: 1.3em;
	line-height: 1.2em;
}

.drink-label {
	color: var(--color3);
}

.drink-data {
	color: var(--color2);
}

/* ---------------REVIEW--------------- */

.review {
	margin-bottom: 1em;
}

.review-author {
	color: var(--color2);
}

.review-date {
	color: var(--color3);
}

.review-content {
	font-style: italic;
	color: var(--color3);
	background-color: var(--white);
	border-radius: 10px;
	padding: 0.8em;
}

.btnAdd {
	display: inline-block;
	margin: 1em;
	font-size: 1.2em;
	color: var(--color2);
	cursor: pointer;
}

.btnPlus {
	background-color: var(--color2);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


/* ---------------MODAL--------------- */
.modal {
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	background-color: var(--color1);
	box-shadow: 0 0 50px var(--color3);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	padding: 1em;
	color: var(--white);
	text-align: center;
	font-size: 1.5em;
}

input {
	line-height: 2em;
	border-radius: 5px;
	border: 3px solid var(--color2);
}

.btnSubmit {
	padding: 1em;
	background-color: var(--color2);
	color: var(--white);
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btnClose {
	padding: 1em;
	background-color: var(--color3);
	color: var(--white);
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* ---------------DASHBOARD--------------- */
.dashboard-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-row-left {
	max-width: 45%;
}

.btnDelete {
	padding: 1em;
	background-color: red;
	color: var(--white);
	font-weight: bold;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}